<!-- HIKE ALREADY COMPLETED... reroute message PAGE -->
<div class="jumbotron jumbotron-fluid addedHikeHero">
        <div class="container">
          <% if (loggedIn) { %>
              <h2> Hello, <%= currentUser.firstName %>! </h2>
              <h4> You have already completed this form.  Please click <a href="/users/profile">HERE</a> to go back to your profile page.</h4>
          <% } %>         
        </div>
    
    <div class="hikeContainer">
        <div class="row">      
    </div>
</div>