<!-- NAV BAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand title" href="#">GWHLA CSC Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse title navRight" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/#cscInfo" style="align-items: right"> City Slicker Challenge Info &nbsp &nbsp  || <span class="sr-only">(current)</span></a>
        </li>
        <% if (loggedIn) { %>
        <li class="nav-item">
            <a class="nav-link" href="/users/profile"> Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/hikes/index">Take A Hike</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/profile/edit">Edit Profile</a>
        </li>
        <li class="nav-item logout">
            <a href="/users/logout" class="btn btn-outline-warning btn-sm">Logout</a>
        </li>
        <% } %>
        
        </ul>
    </div>
</nav>