<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><%= Hi, user.firstName %></h1>
            <p class="lead">
          <!-- USER EMAIL -->
                <%= user.email %> | <%= user._id %> 
                <a href="/users/logout" class="btn btn-warning btn-sm">Logout</a>
            </p>
        </div>
    </div>
    
    <h2>Recent Posts</h2>
    <div class="card" style="margin-bottom: 2rem">
      <div class="card-body">
        <h5 class="card-title">Post Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card" style="margin-bottom: 2rem">
      <div class="card-body">
        <h5 class="card-title">Post Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card" style="margin-bottom: 2rem">
      <div class="card-body">
        <h5 class="card-title">Post Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>