<!-- USER PROFILE PAGE -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">
        <% if (loggedIn) { %>
            <h1> Success! <%= user.firstName %> You're logged in! </h1>
        <% } %>    
      <!-- USER PROFILE -->
            <%= user.email %> | <%= user._id %> 
            
        </p>
</div>
</div>
