<!-- SIGN UP PAGE FORM TO RETRIEVE USER PROFILE DATA -->
<div class="col-sm-6 offset-md-3">
    <h1>Sign Up</h1>
    <form method="post" action="/users/signup">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email (your email will become your username)</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="name">Location</label>
            <input type="text" class="form-control" id="location" name="location">
        </div>
        <div class="form-group">
            <label for="name">Skill Level</label>
            <input type="text" class="form-control" id="skillLevel" name="skillLevel">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <p>Or, <a href="/users/login">Log In</a></p>
    <p>Go back <a href="/">home</a>.</p>
</div>