/* ENTER CSS STYLING TO SUPPLEMENT BOOTSTRAP HERE */

/* FONTS */
.title, .subtitle {
    font-family: "Unica One", sans-serif;
}
p, .blurb {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: red;
    cursor: pointer;
}


/* NAV BAR */
.logout {
    margin: 4.5px;
}
/* INDEX/SPLASH/ABOUT PAGE */
.heroImg {
    background-image: url("https://i.imgur.com/q9rQwJ5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    color: white;
}
/* TAKE A HIKE PAGE */
.hikeHero {
    background-image: url("https://i.imgur.com/WOHGfkY.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: black;
}
.googleMap {
    background: white;
}
.cscBannerTitle {
    width: 100%;
    font-size: 6rem;
    text-align: center;
}
.card {
    padding: 1rem 0;
    opacity: 0.75;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 450px;
}

/* EDIT PAGE */
.editHero {
    background-image: url("https://i.imgur.com/4D7RKpY.jpg");
    background-position: center;
    background-repeat: repeat;
    width: auto;
    height: 100vh;
    color: white;
}
.editBtn {
    width: 9em;
    margin-top: 1rem;
}

/* SIGN UP PAGE */
.signupHero {
    background-image: url("https://i.imgur.com/jRvLYL5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 125vh;
    color: white;
    opacity: .8;
}

.signUp {
    padding: .75rem;
}

/* PROFILE PAGE */
.profileHero {
    background-image: url("https://i.imgur.com/u1n6FNe.jpg");
    background-position: left;
    background-repeat: no-repeat;
    width: auto;
    height: 125vh;
    color: white;
}
.jumbotron {
    padding-top: 1rem;
    margin: 0;
    opacity: .75;
    color: black;
}